<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<div class="alert alert-warning" role="alert">
  <h1><%= message %></h1>
  <h2><%= error.status %></h2>  
</div>
<div class="text-center">
  <img 
    src="https://previews.123rf.com/images/vantuz/vantuz1607/vantuz160700014/59913922-icon-plane-crash-terrorist-act-in-the-air-stock-illustration-.jpg" 
    alt="plane-crash"
    width="400" 
    height="200"
    class="rounded mx-auto d-block"
  >
</div>

<div class="alert alert-danger" role="alert">
  <pre><%= error.stack %></pre>
</div>
<%- include('./partials/footer') %>
