<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No.</th>
        <th>Departs</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
        <tr class=<%= flight.departs< Date.now()?"passed":"upcoming"%>>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><a href="/flights/<%= flight._id %>">Details</a></td>
        </tr>
      <% }); %>
  </table>
  <a href="/">Go Back</a>
  <%- include('../partials/footer') %>